# MYSQL Configuration
MYSQL_HOST="CHANGEME"
MYSQL_USER="CHANGEME"
MYSQL_PASSWORD="CHANGEME"
MYSQL_DATABASE="centreon_storage"

# MBI Partition tables, keep it empty if you need to analyze every mod_bi* tables

MYSQL_MBI_TABLE="mod_bi_hostavailability,mod_bi_metriccentilemonthlyvalue,mod_bi_metricdailyvalue,mod_bi_metrichourlyvalue,mod_bi_serviceavailability"
